
@{
    ViewBag.Title = "OtherErrors";
}
<link href="~/Content/ErrorSheet.css" rel="stylesheet" />
<div class="error">
    <h3 style="padding-left:50px">Error</h3>
    <h3>Opps...Unknown error occurred:(</h3>
</div>

