
@{
    ViewBag.Title = "Unauthorized";
}
<h2>
    Error
</h2>
<div class="padding-top-bottom-120 text-center">
    <h1>401</h1>
    <h2>You don't have enough rights or you just aren't authorized</h2>
</div>



