<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
  
  
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IAdvertising" textEncoding="utf-8" transferMode="Streamed"
            closeTimeout="00:10:00"
            openTimeout="00:01:00"
            receiveTimeout="00:10:00"
            sendTimeout="00:10:00" 
            maxReceivedMessageSize="2147483647"
            maxBufferSize="2000001"
            maxBufferPoolSize="2000001" >
            
          <readerQuotas maxDepth="2000001"
                          maxStringContentLength="2000001"
                          maxArrayLength="2000001"
                          maxBytesPerRead="2000001"
                          maxNameTableCharCount="2000001" />
          </binding>
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://localhost:54808/Advertising.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAdvertising" contract="AppService.IAdvertising"
                name="BasicHttpBinding_IAdvertising" />
        </client>
    </system.serviceModel>
</configuration>