<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  
  
  
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IAdvertising" />
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://localhost:54808/Advertising.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAdvertising" contract="AdvertisingService.IAdvertising"
                name="BasicHttpBinding_IAdvertising" />
        </client>
    </system.serviceModel>
</configuration>