
<link href="~/Content/AllPages.css" rel="stylesheet" />
<div>
    <div class="name vid">
        <div class="widget">
            <h3 class="widget-title title">My reminders</h3>
            <ul class="widget-list">
                <li><a class="title boton1" type="button" value="Prompts" href='@Url.Action("Navigation", "Prompt")'>Show</a></li>
                <li> <a class="title boton1" type="button" value="Prompts" href='@Url.Action("Add", "Prompt")'>Add new</a> </li>
               
            </ul>
            <div style="color:#855C6A; line-height:35px">
                Do you have a lot of things to do? Do you constantly miss something? This project is for you! It was created just to help in a reminder of the affairs, so everyone can manage everything, everywhere.
            </div>
        </div>

    </div>
    <div class="vid-rigth">
        <div>
            <img class="big" src="~/Content/iABCCXH53.jpg" />
        </div>
    </div>
    <div class="vid-services">

        @{
            Html.RenderAction("Advertising", "Service");
        }
    </div>

</div>