@model IEnumerable<DI.Reminder.Common.LoginModels.Role>

@{
    ViewBag.Title = "ShowAllRoles";
}
<link href="~/Content/RegistrationSheet.css" rel="stylesheet" />
<h2 class="title">Roles</h2>

<table>
    <tr>
        <th class="newtitle">
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="boton1">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="boton1">
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<div style="margin-top:30px;color: #855C6A;font-family: ‘Rouge Script’, cursive; font-size: 200%; margin-left:20px">
    @Html.ActionLink("Add", "Add")
</div>
