body {
    background-image: url('solid-pink-iphone-clipart-4.jpg');
    font-family: 'Merriweather', serif;
    background-size: cover;
}
.name {
    color: #855C6A;
    font-family: ‘Lato’, sans-serif;
    font-size: 40px;
    line-height: 30px;
    margin:20px;
}

p {
    color: #adb7bd;
    font-family: ‘Lucida Sans’, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-indent: 30px;
    margin: 0;
}

a {
    color: #fe921f;
    text-decoration: underline;
}

    a:hover {
        color: #ffffff
    }

.date {
    background: #fe921f;
    color: #ffffff;
    display: inline-block;
    font-family: ‘Lato’, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    letter-spacing: 1px;
    margin: 0 0 30px;
    padding: 10px 15px 8px;
    text-transform: uppercase;
}
img.big {
    width: 800px;
    height: 600px;
    margin:20px;
}

a.boton1 {
    background-color: #FADADD;
    color: #855C6A;
    text-decoration: none;
    display: block;
    width: 250px;
    height:50px;
    text-align: left;
    transition: all 0.3s;
}

    a.boton1:hover {
        box-shadow: 0px -5px 0 #855C6A inset;
    }

.vid {
    float: left;
    width:36%;
    height:200px;
}
.vid-rigth {
    float: left;
    width: 40%;
    height: 200px;
}
.vid-services {
    float: right;
    color: #855C6A;
    font-size: 200%;
    margin:10px;
    width: 17%;
    height: 200px;
}
.vid-rigth-new {
    float: right;
    width: 64%;
    height: 200px;
}
.new{
    margin-top:100px;
}
h3.title {
    color: #FCF2E5;
    font-size: 200%;
    font-family: ‘Rouge Script’, cursive;
    margin: 10px 0 10px;
    text-align: left;
    text-shadow: 1px 1px 2px #082b34;
}
 
a.title {
    color: #855C6A;
    font-size: 150%;
    font-family: ‘Rouge Script’, cursive;
    margin-left: 20px;
    margin-top:30px;
    text-align: left;
    text-shadow: 1px 1px 2px #082b34;
    padding: 20px;
}
.excep {
    color: #FCF2E5;
    font-size: 300%;
    font-family: ‘Rouge Script’, cursive;
    margin: 30px 0 50px;
    text-align: center;
    text-shadow: 1px 1px 2px #082b34;
}
.title {
    color: #FCF2E5;
    font-family: ‘Rouge Script’, cursive;
    font-size:125%;
    line-height:70px;
    margin-bottom: 5px;
    text-align: left;
    text-shadow: 1px 1px 2px #082b34;
    padding: 20px;
}
.nam {
    color: #855C6A;
    font-family: ‘Rouge Script’, cursive;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
}
}

.na {
    color: #FCF2E5;
    font-family: ‘Lato’, sans-serif;
    font-size: 10px;
    line-height: 25px;
    margin-bottom: 5px;
    float: left;
    width: 70%;
    height: 300px;
}
a.button {
    background-color: #FADADD;
    color: #855C6A;
    text-decoration: none;
    display: block;
    width: 220px;
    height: 40px;
    text-align: left;
    transition: all 0.3s;
}

    a.button:hover {
        box-shadow: 0px -5px 0 #855C6A inset;
    }

.somebut-left {
    float: left;
    width: 33%;
    height: 200px;
}
.vid1 {
    float: left;
    width:20%;
    height:200px;
}
.vid1-rigth {
    float: left;
    width: 20%;
    height: 200px;
}
.vid1-services {
    float: right;
    color: #855C6A;
    width: 38%;
    height: 200px;
}



