<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Layout.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div>
        <header class="three">
            <h1>  Reminder </h1>
            <div style="padding-top:50px;margin-right:50px; font-size:350%;float:right;color: #FCF2E5;">
                <div>
                    <a style="text-decoration:none" href="/Start/Home">StartPage</a>
                    <a style="text-decoration:none" href="/Account/Registration">Registration</a>
                    @if (Request.IsAuthenticated)
                    {
                        <a style="text-decoration:none" href="/Account/LogOut">Log Out</a>
                    }
                    else
                    {
                        <a style="text-decoration:none" href="/Account/Login">Log In</a>
                    }
                    <a style="text-decoration:none" href="/Account/Edit">Edit account</a>
                </div>
            </div>
        </header>
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/ClickFunction.js"></script>
    <script src="~/Scripts/ActionAdding.js"></script>
    <script src="~/Scripts/Search.js"></script>
    <script src="~/Scripts/SearchClick.js"></script>
    <script src="~/Scripts/RoleAdding.js"></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.js")' type='text/javascript'></script>
    <script src='@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")' type='text/javascript'></script>
</body>
</html>