<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your reminder</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color:#F8FBE6">
    <nav class="navbar navbar-default navbar-fixed-top gradient-violat" style="padding-bottom:15px">
        <div class="container">
            <div class="row">
                <div class="navbar-header">

                    <a class="navbar-brand" href="#">
                        <span class=" logo-white">
                            <img src="~/Images/galka-8.png" class="img-responsive" />
                            <span style="vertical-align:sub"> Your reminder</span>
                        </span>
                    </a>
                </div>


                <ul class="nav navbar-nav  navbar-right" style="vertical-align:bottom; margin-top:20px">

                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a style="text-decoration:none; color:white; font-size:large" href="/Admin/Home">Admin cabinet</a>
                        </li>

                    }
                    else if (User.IsInRole("Editor"))
                    {
                        <li>
                            <a style="text-decoration:none; color:white; font-size:large" href="/Editor/Home"> Editor cabinet</a>
                        </li>

                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <a style="text-decoration:none; color:white; font-size:large" href="/Account/Edit">Edit account</a>
                        </li>
                    }
                    @if (Request.IsAuthenticated)
                    {
                        <li>
                            <a style="text-decoration:none; color:white; font-size:large" href="/Account/LogOut">Log Out</a>
                        </li>
                    }
                    else
                    {
                        <li><a href="#registration" style="text-decoration:none; color:white; font-size:large">Registration</a></li>
                        <li>
                            <a style="text-decoration:none; color:white; font-size:large" href="/Account/Login">Log In</a>
                        </li>
                    }

                </ul>
            </div>
        </div>

    </nav>

    <div>
        @RenderBody()
    </div>
    <footer style="  width:100%">
        <hr class="footer-divider" />
        <h6 class="text-center">© 2018 Your reminder. Все права защищены </h6>
        <div class="footer-end-line"></div>
    </footer>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


    <script src="~/Scripts/ClickFunction.js"></script>
    <script src="~/Scripts/SearchClick.js"></script>
    <script src="~/Scripts/ActionAdding.js"></script>

</body>
</html>