@model DI.Reminder.Web.Models.ModelCategoriesWithPrompts
@{
    ViewBag.Title = "Show";
}

<link href="~/Content/SearchSheet.css" rel="stylesheet" />
<link href="~/Content/CategoriesSheet.css" rel="stylesheet"  />
<link href="~/Content/AllPages.css" rel="stylesheet" />
<div>
    <div class="vid">
        <div class="widget">
            <h3 class="widget-title title">Categories</h3>
            <ul class="widget-list title" id="widget">
                @if (Model.CategoryList[0].ParentID == null)
                {
                    <li>
                        <a id="b_0" name="0">All</a>
                    </li>
                }
                @foreach (var item in Model.CategoryList)
                {
                    <li>
                        <a id="b_@item.ID" name="@item.ID">@item.Name</a>

                    </li>
                }

            </ul>
            @if (Model.CategoryList[0].ParentID != null)
            {
                <a class="title" type="button" value="Prompts" href='/Prompt/Navigation/@Model.previousListID'>Back to previous list</a>
            }

        </div>
    </div>
    <div class="vid-rigth-new">
        <div style=" padding-top:30px; width:100%; background: #FADADD; display:block; min-width: 100px; height:200px;overflow-y:auto;"></div>
        <div class="nam" id="JSON" style="margin-top:20px">
         @if(Model.PromptList!=null)
         {
             foreach (var item in Model.PromptList)
             {
                 <div>@item.Name<a style="float:right; margin-right:600px" href="/Prompt/Details/@item.ID">Details</a></div>
             }
         }
         else
         {
             <div>
                 There are no any prompts in chosen category
             </div>
             <a style="padding-top:20px" href="/Prompt/Add"> Add new </a>
         }

            </div>
        </div>
    </div>