@model IEnumerable<DI.Reminder.BL.Prompt>
@if (Model != null)
{<div>
    @foreach (var m in Model)
    {
        <div class="nam">
            @Html.DisplayFor(name => m.Name)
            <div style="float:right; margin-right:800px"> @Html.ActionLink("Details", "PromptDetails", new { m.ID })</div>
        </div>
        <div>

        </div>
    }
</div>}