
@{
    ViewBag.Title = "Home";
}
<head>
    <link href="~/Content/AllPages.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="name vid">
            <div>My reminders</div>
            <div class="new">
                <a type="button" value="Prompts" class="boton1" href='@Url.Action("Show", "Prompt")'>To show</a>
            </div>
        </div>
        <div class="vid-rigth">
            <div><img src="~/Content/3-Details-To-Keep-In-Mind-About-Orthodontic-Treatment-.jpeg" /></div>
        </div>
    </div>
</body>

