@model DI.Reminder.Web.Models.Ins
@{
    ViewBag.Title = "Show";
}

<link href="~/Content/CategoriesSheet.css" rel="stylesheet" type="text/css" />
<link href="~/Content/AllPages.css" rel="stylesheet" />
<div class="vid">
    <div class="widget">
        <h3 class="widget-title title">Categories</h3>
        <ul class="widget-list title">
            <li>
                @if (Model.CategoryList[0].ParentID == null)
            {@Html.ActionLink($"All", "Show", new { id = 0 })}
            </li>
            @foreach (var item in Model.CategoryList)
        {
            <li>
                @Html.ActionLink($"{item.Name}", "Show", new { id = item.ID })
            </li>
    }

        </ul>
        @if (Model.CategoryList[0].ParentID != null)
        { 
           <a class="title" type="button" value="Prompts" href='@Url.Action("Show", "Prompt", new { id = 0 })'>Back to previous list</a>
        }
    </div>
</div>
<div class="vid-rigth-new">
    <div style=" width:100%; background: #FADADD; display:block; min-width: 100px; height:200px;overflow-y:auto;"></div>
    @if (Model.PromptList != null)
    {  @Html.Partial("ShowCategoryItems", Model.PromptList)}
    
</div>


