<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
    <authentication mode="Windows"></authentication>
    <authorization>
      <allow users="*"/> 
    </authorization>
  </system.web>
  <system.serviceModel>
    <services>      
      <service name="AppService.Advertising">      
        <endpoint address="*"
                  binding="basicHttpBinding"
                  name="BasicHttpEndpoint"
                  contract="AppService.IAdvertising"> 
          <identity>
            <dns value="localhost"/>
          </identity>        
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceAuthenticationManager authenticationSchemes="Negotiate"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
