<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="DI.Reminder.Service.Advertising.Advertisings" behaviorConfiguration="Advertisings">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="customStreamedBinding" 
                  contract="DI.Reminder.Service.Advertising.IAdvertising"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    
    <bindings>
      <basicHttpBinding>
        <binding name="customStreamedBinding" transferMode="Streamed"
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647" 
                 textEncoding="utf-8"
                 maxBufferPoolSize="2000001">
          <readerQuotas maxDepth="2000001"
                          maxStringContentLength="2000001"
                          maxArrayLength="2000001"
                          maxBytesPerRead="2000001"
                          maxNameTableCharCount="2000001" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Advertisings">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>



  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>