<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net configSource="Log4Net.config" />
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="Log4Net.config" value="Log4Net.config"/>
  </appSettings>
   <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IAdvertising" textEncoding="utf-8" transferMode="Streamed"
            closeTimeout="00:10:00"
            openTimeout="00:01:00"
            receiveTimeout="00:10:00"
            sendTimeout="00:10:00" 
            maxReceivedMessageSize="2147483647"
            maxBufferSize="2000001"
            maxBufferPoolSize="2000001" >
            
          <readerQuotas maxDepth="2000001"
                          maxStringContentLength="2000001"
                          maxArrayLength="2000001"
                          maxBytesPerRead="2000001"
                          maxNameTableCharCount="2000001" />
          </binding>
          </basicHttpBinding>
        </bindings>
            <client>
              <endpoint address="http://localhost:1004/Advertising.svc" binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_IAdvertising" contract="AdvertisingService.IAdvertising"
                  name="BasicHttpBinding_IAdvertising" />
            </client>
          </system.serviceModel>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <!--<caching>
      <sqlCacheDependency enabled="true">
        <databases>
          <add name="DataBase" connectionStringName="DefaultConnection" />
        </databases>
      </sqlCacheDependency>
      <outputCacheSettings>
        <outputCacheProfiles>
        <add name="cacheProfileForCategories" duration="3600" location = "Any" varyByParam = "id" sqlDependency="DataBase:Categories" enabled="true"/>
        <add name="cacheProfileForPrompts" duration="3600" location = "Any" varyByParam = "id" sqlDependency="DataBase:Prompts" enabled="true"/>
        <add name="cacheProfileForUsers" duration="3600" location = "Any" varyByParam = "id" sqlDependency="DataBase:Users" enabled="true"/>
        <add name="cacheProfileForRoles" duration="3600" location = "Any" varyByParam = "id" sqlDependency="DataBase:Roles" enabled="true"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>-->

  </system.web>
  <system.webServer>

    <httpErrors errorMode="Custom" existingResponse="Auto">
      <clear />
      <error statusCode="401" responseMode="ExecuteURL" path="/Error/Unauthorized" />
    </httpErrors>

  </system.webServer>
  
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=LAPTOP-868QL38T\SQLEXPRESS;Initial Catalog=DI.Reminder.DataBase;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  
</configuration>

